In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score ,classification_report ,confusion_matrix
from sklearn import tree

In [2]:
df = pd.read_csv("fumarbeberpfc.csv", delimiter=";")
df.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1,1,120,...,126,92,17.1,1,1.0,21,35,40,1,Y
1,Male,30,180,80,89.0,0.9,1.2,1,1,130,...,148,121,15.8,1,0.9,20,36,27,3,N
2,Male,40,165,75,91.0,1.2,1.5,1,1,120,...,74,104,15.8,1,0.9,47,32,68,1,N
3,Male,50,175,80,91.0,1.5,1.2,1,1,145,...,104,106,17.6,1,1.1,29,34,18,1,N
4,Male,50,165,60,80.0,1.0,1.2,1,1,138,...,117,104,13.8,1,0.8,19,12,25,1,N

In [3]:
def assign_status(row):
    if row["SMK_stat_type_cd"] == 3 and row["DRK_YN"] == "Y":
        return "Fuma y Bebe"
    elif row["SMK_stat_type_cd"] == 3 and row["DRK_YN"] == "N":
        return "Fuma y No Bebe"
    elif row["SMK_stat_type_cd"] == 1 and row["DRK_YN"] == "Y":
        return "No Fuma y Bebe"
    elif row["SMK_stat_type_cd"] == 1 and row["DRK_YN"] == "N":
        return "No Fuma y No Bebe"
    elif row["SMK_stat_type_cd"] == 2 and row["DRK_YN"] == "Y":
        return "Ha dejado de fumar y Bebe"
    elif row["SMK_stat_type_cd"] == 2 and row["DRK_YN"] == "N":
        return "Ha dejado de fumar y No Bebe"
    else:
        return "Otro"


df["Smoking_Drinking_Status"] = df.apply(assign_status, axis=1)

df.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN,Smoking_Drinking_Status
0,Male,35,170,75,90.0,1.0,1.0,1,1,120,...,92,17.1,1,1.0,21,35,40,1,Y,No Fuma y Bebe
1,Male,30,180,80,89.0,0.9,1.2,1,1,130,...,121,15.8,1,0.9,20,36,27,3,N,Fuma y No Bebe
2,Male,40,165,75,91.0,1.2,1.5,1,1,120,...,104,15.8,1,0.9,47,32,68,1,N,No Fuma y No Bebe
3,Male,50,175,80,91.0,1.5,1.2,1,1,145,...,106,17.6,1,1.1,29,34,18,1,N,No Fuma y No Bebe
4,Male,50,165,60,80.0,1.0,1.2,1,1,138,...,104,13.8,1,0.8,19,12,25,1,N,No Fuma y No Bebe

In [4]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

categorical_columns = ["sex","DRK_YN","Smoking_Drinking_Status","SMK_stat_type_cd"]
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column])
df.head() #male=1 female=0

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN,Smoking_Drinking_Status
0,1,35,170,75,90.0,1.0,1.0,1,1,120,...,92,17.1,1,1.0,21,35,40,0,1,4
1,1,30,180,80,89.0,0.9,1.2,1,1,130,...,121,15.8,1,0.9,20,36,27,2,0,1
2,1,40,165,75,91.0,1.2,1.5,1,1,120,...,104,15.8,1,0.9,47,32,68,0,0,5
3,1,50,175,80,91.0,1.5,1.2,1,1,145,...,106,17.6,1,1.1,29,34,18,0,0,5
4,1,50,165,60,80.0,1.0,1.2,1,1,138,...,104,13.8,1,0.8,19,12,25,0,0,5

In [9]:
df_Smoking_Drinking_Status = df.groupby("Smoking_Drinking_Status").mean().round(2)
#0=fuma y bebe
#1=fuma y no bebe
#2=Ha dejado de fumar y bebe
#3=Ha dejado de fumar y no bebe
#4= no fuma y  bebe
#5= no fuma y no bebe

In [12]:
df_Smoking_Drinking_Status

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
Smoking_Drinking_Status,,,,,,,,,,,,,,,,,,,,,
0,0.94,42.20,168.86,70.00,84.36,1.05,1.05,1.02,1.02,124.32,...,110.62,173.74,15.35,1.10,0.93,28.66,30.93,63.07,2.0,1.0
1,0.88,46.30,166.83,67.86,83.64,1.01,1.01,1.03,1.03,121.32,...,117.42,149.31,15.10,1.11,0.95,25.43,29.57,35.74,2.0,0.0
2,0.95,48.22,168.03,70.26,85.47,1.03,1.03,1.03,1.03,125.77,...,113.23,152.72,15.07,1.10,0.95,28.78,30.31,53.05,1.0,1.0
3,0.92,54.30,165.94,67.53,84.96,0.98,0.98,1.06,1.05,124.40,...,111.97,135.68,14.74,1.13,0.99,26.91,29.18,33.76,1.0,0.0
4,0.42,42.00,162.03,61.94,79.03,1.01,1.00,1.02,1.02,120.24,...,111.13,113.81,14.01,1.08,0.82,24.54,23.11,32.54,0.0,1.0
5,0.19,52.00,156.67,57.86,78.98,0.92,0.92,1.04,1.04,121.69,...,114.59,115.74,13.44,1.09,0.79,24.76,22.65,24.62,0.0,0.0

In [7]:
df_SMK_stat_type_cd	= df.groupby("SMK_stat_type_cd").mean()
df_SMK_stat_type_cd #0=1, 1=2, 2=3

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,DRK_YN,Smoking_Drinking_Status
SMK_stat_type_cd,,,,,,,,,,,,,,,,,,,,,
0,0.273356,48.455401,158.572582,59.306272,79.001125,0.949829,0.946845,1.032956,1.032227,121.177911,...,113.364130,115.055730,13.638717,1.087614,0.803322,24.680925,22.813524,27.426485,0.354277,4.645723
1,0.937565,50.112632,167.382296,69.406891,85.312877,1.013957,1.013486,1.038639,1.036216,125.345011,...,112.836686,147.418752,14.967969,1.108768,0.965003,28.196804,29.959320,47.043515,0.688650,2.311350
2,0.924058,43.203960,168.364555,69.477808,84.182930,1.041053,1.038697,1.021537,1.020850,123.583527,...,112.282888,167.759654,15.290647,1.100947,0.935891,27.868313,30.599811,56.375763,0.755195,0.244805

In [8]:
df_DRK_YN	= df.groupby("DRK_YN").mean()
df_DRK_YN #0=N, #1=Y

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,Smoking_Drinking_Status
DRK_YN,,,,,,,,,,,,,,,,,,,,,
0,0.347071,51.648809,158.764848,59.977998,80.131769,0.933964,0.933205,1.041679,1.040481,121.950591,...,114.603191,121.476582,13.755567,1.095592,0.831262,25.064444,24.100658,26.798521,0.321110,4.357780
1,0.715087,43.577160,165.718998,66.592571,82.335770,1.027740,1.023687,1.021302,1.020463,122.914765,...,111.471025,142.814884,14.704434,1.092856,0.889693,26.914864,27.410680,47.481893,0.895348,2.209305